<!DOCTYPE html>
<html>
<head>
    <%
    var config = htmlWebpackPlugin.options.config;
    var currencies = htmlWebpackPlugin.options.currencies;
    var coinmarket = config.coinmarket;
    var donations = config.donations;
    var adminEmail = config.administrator && config.administrator.email;
    var ads = config.ads;
    var exchanges = config.exchanges;
    var analytic = config.analytic;
    %>

    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= config.currency.name %> Mining Pool List</title>

    <meta property="og:title" content="<%= config.currency.name %> Mining Pool List">
    <meta property="og:description" content="The most comprehensive mining pool list for <%= config.currency.name %>.">
    <meta property="og:locale" content="en">

    <meta property="x:app:version" content="<%= htmlWebpackPlugin.options.pkg.version %>">
    <meta property="x:app:repoUser" content="<%= config.administrator.request_user %>">
    <meta property="x:app:repoName" content="<%= config.administrator.request_repo %>">
    <meta property="x:github:accessToken" content="">
    <meta property="x:github:username" content="">
    <meta property="x:coin:units" content="<%= config.currency.units %>">

    <link rel="icon" type="image/png" sizes="32x32" href="images/icons-<%= config.currency.tech_name %>/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons-<%= config.currency.tech_name %>/favicon-16x16.png">
    <link rel="shortcut icon" href="images/icons-<%= config.currency.tech_name %>/favicon.ico">
</head>
<body style="display: none; margin-top: 3em;">

<nav id="navbar" class="navbar navbar-dark bg-dark fixed-top navbar-expand-sm">
    <div class="container">
    <a class="navbar-brand" href="">
        <img src="images/icons-<%= config.currency.tech_name %>/favicon-32x32.png" width="30" height="30" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-navicon"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#servers">servers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#address">address</a>
            </li>
            <% if (exchanges) { %>
            <li class="nav-item">
                <a class="nav-link" href="#exchanges">exchanges</a>
            </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="#donations">donations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#network">network</a>
            </li>
        </ul>
    </div>
    </div>
</nav>

<header id="header" class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h1>The <%= config.currency.short_name %> Mining Pool List</h1>
                <p class="lead">Welcome to the most comprehensive mining pool list
                    for <%= config.currency.name %>.</p>
                <% if (config.links) { %>
                <ul class="nav">
                    <%
                        var links = config.links;
                        var linkKeys = Object.keys(config.links);
                    linkKeys.forEach(function (key) {
                        var link = links[key];
                    %>
                    <li class="nav-item">
                        <a target="_blank" class="nav-link" href="<%= link.url %>">
                            <i class="<%= link.icon %>"></i>
                            <%= key %>
                        </a>
                    </li>
                    <% }) %>
                </ul>
                <% } %>
            </div>
            <% if (coinmarket) { %>
            <div class="col-sm-12 col-md-6">
                <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
                <div class="coinmarketcap-currency-widget"
                     data-currency="<%= coinmarket.currency %>"
                     data-base="<%= coinmarket.base %>"
                     data-secondary="<%= coinmarket.secondary %>"
                     data-ticker="<%= coinmarket.ticker %>"
                     data-rank="<%= coinmarket.rank %>"
                     data-marketcap="<%= coinmarket.marketcap %>"
                     data-volume="<%= coinmarket.volume %>"
                     data-stats="<%= coinmarket.stats %>"
                     data-statsticker="<%= coinmarket.statsticker %>"
                ></div>
            </div>
            <% } %>
        </div>
    </div>
</header>

<section id="ads" class="jumbotron jumbotron-fluid">
    <div class="container">
        <!--<h2 class="text-center">Ads</h2>-->
        <h2 class="text-center">3% off with Genesis Mining: kho86F</h2>
        <div class="text-center">
            <a href="https://www.genesis-mining.com/a/1527031" target="_blank">
                <img width="300" height="250" src="images/genesis.gif" title="3% off with Genesis Mining" alt="3% off with Genesis Mining">
            </a>
        </div>
        <% if (false && ads && ads['a-ads.com']) { %>
        <div class="text-center">
            <iframe data-aa='<%= ads['a-ads.com'] %>' src='//acceptable.a-ads.com/<%= ads['a-ads.com'] %>?size=Adaptive'
                    scrolling='no' style='border:0; padding:0;overflow:hidden' allowtransparency='false'
                    class="rounded"></iframe>
        </div>
        <% } %>
    </div>
</section>

<section id="servers" class="jumbotron jumbotron-fluid">
    <div class="container-fluid">
        <h2 class="text-center">Pools</h2>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <datalist id="serverList"></datalist>

                <div id="serverTableContainer">
                    <table id="serverTable" class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <th data-sorter="false"></th>
                            <th title="Cells are colored according to the SSL/TLS security of pools's front and back."
                                data-toggle="tooltip">Name
                            </th>
                            <th data-sorter="false">Location</th>
                            <th class="text-right">Fee</th>
                            <th class="text-right">Min. Payment</th>
                            <th class="text-right">Hashrate</th>
                            <th class="text-right">Blocks Found</th>
                            <th data-sorter="false" class="text-right" data-toggle="tooltip" title="Last Blocks Found">
                                Last Blocks
                            </th>
                            <th class="text-right" data-toggle="tooltip" title="Connected Miners">Miners</th>
                            <th class="text-right" data-toggle="tooltip" title="Total Miners Paid">Miners Paid</th>
                            <th class="text-right" data-toggle="tooltip" title="Total Payments">Payments</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td colspan="11" class="text-center">Noting to display ...</td>
                        </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    <div class="loader">
                        <div class="made-with lead">
                            made with
                            <i title="... love ..." class="fa fa-fw fa-heart fa-spin"></i>
                            somewhere in
                            <span title="... Switzerland" class="made-with-flag">&nbsp;<i style="color: white;"
                                                                                          class="fa fa-plus fa-fw"></i>&nbsp;</span>
                        </div>
                    </div>
                </div>

                <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                        <small class="text-white" id="poolsUpdatedOn"></small>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-sm btn-dark" name="refreshServers" type="button">
                            <i class="fa fa-refresh"></i>
                            refresh
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/tmorin/cryptonote-universal-pool-list/blob/master/doc/add_or_update_your_pool.md" target="_blank" class="btn btn-sm btn-dark" type="button">
                            <i class="fa fa-code"></i>
                            add or update your pool forking the repo
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-sm btn-dark" type="button" data-toggle="modal"
                                data-target="#requestStep1Dialog">
                            <i class="fa fa-info-circle"></i>
                            add or update your pool submitting an issue
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="address" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="text-center">Address</h2>
        <br>
        <form name="checkForm">
            <div class="input-group">
                <input class="form-control" type="text" required name="address"
                       placeholder="Enter your <%= config.currency.name %> address"/>
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-cog"></i>
                        <span class="text">Check</span>
                    </button>
                </span>
            </div>
        </form>
        <br>
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <table id="addressTable" class="table table-striped table-responsive">
                    <tfoot class="loader">
                    <tr class="made-with lead">
                        <td>
                            made with
                            <i title="... love ..." class="fa fa-fw fa-heart fa-spin"></i>
                            somewhere in
                            <span title="... Switzerland" class="made-with-flag">&nbsp;<i style="color: white;"
                                                                                          class="fa fa-plus fa-fw"></i>&nbsp;</span>
                        </td>
                    </tr>
                    </tfoot>
                    <thead>
                    <tr>
                        <th>Pool</th>
                        <th class="text-right">Hashrate</th>
                        <th class="text-right">Hashes</th>
                        <th class="text-right">Last share</th>
                        <th class="text-right">Balance</th>
                        <th class="text-right">Paid</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="6" class="text-center">Noting to display, please enter an address ...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<% if (exchanges) { %>
<section id="exchanges" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="text-center">Exchanges</h2>
        <br>
        <ul class="list-unstyled list-inline text-center">
            <%
                var exchangeKeys = Object.keys(exchanges);
            exchangeKeys.forEach(function (key) {
                var exchange = exchanges[key];
            %>
            <li class="list-inline-item">
                <a target="_blank" class="nav-link" href="<%= exchange.url %>">
                    <img src="<%= exchange.logo %>" alt="<%= key %>"/>
                </a>
            </li>
            <% }) %>
        </ul>
    </div>
</section>
<% } %>

<section id="donations" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="text-center">Donations are welcome!</h2>

        <% if (donations) { %>
        <div class="lead">Donation for administration</div>
        <dl>
            <%
                var donationKeys = Object.keys(donations);
            donationKeys.forEach(function (key) {
                var address = donations[key];
            %>
            <dt><%= key %></dt>
            <dd style="word-wrap: break-word;"><%= address %></dd>
            <% }) %>
        </dl>
        <% } %>

        <hr class="invisible">

        <div class="lead">Donation for development</div>
        <dl>
            <dt>BTC</dt>
            <dd style="word-wrap: break-word;">13jXtnauRQf4eqXUQmH2MnAHLSp5Wefmjd</dd>
            <dt>ETH</dt>
            <dd style="word-wrap: break-word;">0x7256E1fA50C5c27Dd9720cACbaA05DC67c98031e</dd>
        </dl>
    </div>
</section>

<% if (currencies.length > 1) { %>
<section id="network" class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="text-center">Network</h2>
        <br>
        <div class="row text-center">
            <% currencies.filter(function (c) {return c !== config.currency.tech_name;}).forEach(function (c) { %>
            <div class="col-sm-6 col-md-4">
                <a target="_blank" href="https://<%= c %>-pools.morin.io"><%= c %>-pools.morin.io</a>
            </div>
            <% }); %>
        </div>
    </div>
</section>
<% } %>

<footer class="container">
    <div class="text-center small m-1">
        Powered by
        <a target="_blank" href="https://github.com/tmorin/cryptonote-universal-pool-list">
            <i class="fa fa-github"></i>
            cryptonote-universal-pool-list
        </a>
        <%= htmlWebpackPlugin.options.pkg.version %> open sourced under the
        <a target="_blank" href="https://github.com/tmorin/cryptonote-universal-pool-list/blob/master/LICENSE">
            GPL
        </a>
        <% if (adminEmail) { %>
        -
        <a href="mailto:<%= adminEmail %>"><%= adminEmail %></a>
        <% } %>
    </div>
</footer>

<%- include src/front/requestStep1Dialog.ejs %>
<%- include src/front/requestStep2Dialog.ejs %>
<%- include src/front/requestStep3Dialog.ejs %>

<%
if (analytic && analytic.ga) {
%>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%= analytic.ga %>"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '<%= analytic.ga %>', {
        'page_title': '<%= config.currency.tech_name %>',
        'page_path': '/<%= config.currency.tech_name %>.html'
    });
</script>
<% } %>

</body>

</html>